@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* color: #6F601B; */
}
html {
  font-size: 16px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 0.7rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 4rem;
}

p {
  font-weight: 200;
}

.box {
  max-width: 1432px;
  height: auto;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 8%;
}

hr {
  margin: 47px 0;
  text-align: center;
  border: none;
  border-top: 1px solid #c6c6c6;
  font-size: 1.5rem;
  font-weight: 400;
  overflow: visible;
  /* max-width: 1432px; */
}

hr::after {
  background: #fff;
  padding: 0 35px;
  /* content: 'Section #1 Basic'; */
  position: relative;
  top: -1.2rem;
}

hr:nth-of-type(1)::after {
  content: "Section #1 Basic";
}
hr:nth-of-type(2)::after {
  content: "Section #2 Advanced";
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-left {
  width: 55%;
  padding-right: 8%;
}
.main-right {
  width: 45%;
}

.main-right img {
  width: 100%;
}

button {
  background-color: #e3712b;
  border: none;
  color: white;
  padding: 0.8rem 2.2rem;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 0.9rem;
  font-weight: 500;
  margin: 1rem 0;
  cursor: pointer;
}

.features article {
  padding-right: 2rem;
}
.features article img {
  background-color: #f0ecf3;
  padding: 12px;
}

.carousel-container {
  /* justify-content: center;
    align-content: center;
    align-items: center; */
    margin-top: 0;
  position: relative;
  width: 100%;
  /* border: 5px solid black; */
  overflow: hidden;
}

body > img {
  margin: 0 auto;
  margin-bottom: 2rem;
}
.carousel-slide {
  display: flex;
  width: 100%;
  height: 300px;
  transition: transform 0.4s ease-in-out;
}

.carousel-slide article {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  padding: 0 20%;
  /* background-color: bisque; */
  /* border: 1px solid salmon; */
}
.carousel-slide article p{
    font-weight: 300;
  font-size: 1.5rem;

}
.carousel-container #prevBtn {
  position: absolute;
  top: 48%;
  left: 8%;
  cursor: pointer;
}

.carousel-container #nextBtn {
  position: absolute;
  top: 48%;
  right: 8%;
  cursor: pointer;
}

.indicator{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.indicator div{
    width: 15px;
    height: 2px;
    margin: 25px 2px;
    background-color: #c6c6c6;
}
.indicator .selected {
    background-color: black;
}




/* blog content */

.blogPost ul{
    display: flex;
    justify-content: center;

}
.blogPost li{
    list-style: none;
    padding: 0 8px;
    opacity: 0.4;
    cursor: pointer;
}
li.chosenNav {
    opacity: 1;
}
.blog-content{
    width: 100%;
    flex-wrap: wrap;
}

.blog-content article{
    width: 350px;
    /* flex-grow: 1; */
    /* flex-shrink: 2; */
    padding: 10px;
    display: none;
}

.blog-content img{
    width: 100%;
}

.blog-content .selectedBlog {
    display: block;
}


/* FAQ */


.Qs article{
    overflow: hidden;
    transition: all 0.2s ease-out;
  }
  .Qs button {

    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    float: right;

    /* margin-top: 5%; */
  }
  
  .Qs article{
    max-width: 400px;
  }






/* image carousel */

.carousel-containerImg{
    width: 90%;
    overflow: hidden;
}
.carousel-slideImg {
    justify-content: left;
    margin: 0 auto;
    overflow: hidden;
    transition: all 0.2s ease;
}
.carousel-slideImg article {
    width: 380px;
    min-width: 200px;
    flex-shrink: 1;
    /* flex-grow: 1; */
}
.carousel-slideImg img{
    width: 100%;
    padding-left: 1px;
}
.carousel-containerImg h3 {
    font-size: 2rem;
    font-weight: 700;
}
#prevBtnImg, #nextBtnImg{
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0;

    float: right;
}